!!!
html(lang="es")
	head
		meta(charset="utf-8")
		title= title + " | Aplicaciones web para GW2"
		meta(name="description", content=desc)
		//Mobile
		
		meta(name="viewport", content="width=1024")
		
		//CSS
		link(rel="stylesheet", href="/stylesheets/normalize.css")
		block stylesheets
		link(rel="stylesheet", href="/stylesheets/main.css")
		
		//Modernizr
		script(src="/javascripts/vendor/modernizr-2.5.3.min.js")
	body
		header(class="main_header")
			block header
				h1 Mapa WvW
				nav(class="main_nav")
					h1
						a(href="/") GW2 App
					ul
						li 
							a(href="/wvw") Mapa WvW
		
		div(role="main", class="main_content")
			block content
		
		footer(class="main_footer")
			block footer
				p
					a(href="mailto:undakel@gmail.com") Feedback
					|  · 
					a(href="https://github.com/davidsingal/gw2app", target="_blank") Colabora
		
		//Scripts
		block javascripts
		script
			var _gaq=[['_setAccount','UA-32899153-1'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));