!!!
html(lang="#{lang}")
	head
		meta(charset="utf-8")
		title #{title} | GW2 App
		meta(name="description", content=desc)
		
		//Mobile
		block viewport
			meta(name="viewport", content="width=device-width")
		
		//CSS
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700")
		link(rel="stylesheet", href="/stylesheets/normalize.css")
		block stylesheets
		
		//Modernizr
		script(src="/javascripts/vendor/modernizr-2.5.3.min.js")

	body(class= bodyclass)
		header(class="main_header")
			block header
				h1(class="logo")
					a(href="http://www.gw2app.com") GW2 App
				block navigation
					nav(class="main_nav")
						ul
							li 
								a(href="/wvw") #{lingua.wvw}
				ul(class="lang_nav")
					li
						a(href="?language=es") Español
					li
						a(href="?language=en") English
					li
						a(href="?language=pt") Português

		div(role="main", class="main_content")
			block content
		
		footer(class="main_footer")
			block footer
				p
					a(href="http://twitter.com/gw2app", target="_blank") @GW2App
					|  · 
					a(href="mailto:undakel@gmail.com") #{lingua.contact}
					|  · 
					a(href="https://github.com/davidsingal/gw2app", target="_blank") #{lingua.colaborate}
		
		//Scripts
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script
			window.jQuery || document.write("<script src=\"js/libs/jquery-1.7.1.min.js\"><\\/script>")
		block javascripts
		script
			var _gaq=[['_setAccount','UA-32899153-1'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));