doctype 5

html(lang="")
	head
		meta(charset="utf-8")
		title #{title} | GW2 App
		meta(name="description", content="")
		
		//Mobile
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		//CSS
		link(rel="stylesheet", href="/stylesheets/styles.css")
		
		block stylesheets
		
		//if lt IE 9
			script(src="/javascripts/html5shiv.js")

	body
		header(role="banner", class="main_header")
			block header
				h1(class="logo")
					a(href="/") GW2 App
					
				nav(class="main_nav")
					ul
						li 
							a(href="/wvw") #{lingua.wvw}
						li
							a(href="#") Builds (próximamente)
								

		div(role="main", class="main_content")
			block content
		
		footer(class="main_footer")
			p
				a(href="http://twitter.com/gw2app", target="_blank") @GW2App
				|  · 
				a(href="mailto:undakel@gmail.com") #{lingua.contact}
				|  · 
				a(href="https://github.com/davidsingal/gw2app", target="_blank") #{lingua.colaborate}
		
		//Scripts
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script
			window.jQuery || document.write("<script src=\"/javascripts/libs/jquery-1.7.2.min.js\"><\\/script>")
		
		block javascripts
		
		script
			var _gaq=[['_setAccount','UA-32899153-1'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));