extends templates/layout

block stylesheets
	link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.4.1/leaflet.css")
	<!--[if lt IE 9]>link(rel="stylesheet", href="http://code.leafletjs.com/leaflet-0.4.0/leaflet.ie.cs")<![endif]-->
	link(rel="stylesheet", href="/stylesheets/cartodb-leaflet.css")
	link(rel="stylesheet", href="/stylesheets/styles.css")
	link(rel="stylesheet", href="/stylesheets/map.css")
	
append header
	div(class="nav_tools")
		button(href="#draw", id="drawButton") #{lingua.draw}
		button(href="#tools", id="toolsButton") #{lingua.siege_weapons}

block content
	div(id="map", class="full_map")
	div(id="mapTools", class="tools")
		button(class="icon", id="ram", data-dist="5", data-colour="magenta") #{lingua.flame_ram}
		button(class="icon", id="catapult", data-dist="30", data-colour="orange") #{lingua.catapult}
		button(class="icon", id="ballista", data-dist="27", data-colour="yellow") #{lingua.ballista}
		button(class="icon", id="arrow", data-dist="35", data-colour="cyan") #{lingua.arrow_cart}
		button(class="icon", id="trebuchet", data-dist="180", data-colour="red") #{lingua.trebuchet}
	div(id="canvasTools", class="tools")
		button(id="clear") #{lingua.clear}
		button(id="red") #{lingua.red}
		button(id="cyan") #{lingua.cyan}
		button(id="yellow") #{lingua.yellow}
		button(id="magenta") #{lingua.magenta}
		button(id="white") #{lingua.white}
		button(id="black") #{lingua.black}
	canvas(id="canvas", class="draw_canvas", width="1000px", height="500px")
		p(class="disclaimer") #{lingua.no_canvas}
	
block javascripts
	script(src="http://cdn.leafletjs.com/leaflet-0.4.1/leaflet.js")
	script(src="/javascripts/libs/wax.leaf.min-6.2.3-touched.js")
	script(src="/javascripts/libs/cartodb-leaflet-min.js")
	script(src="/javascripts/libs/cartodb-popup-min.js")
	//script(src="/socket.io/socket.io.js")
	script
		var lang = "#{lang}";
	script(src="/javascripts/map.js")