<!DOCTYPE html>
<html lang="en">
    <head>
    	<meta charset="utf-8">
        <title><%= title %> | GW2 App</title>
        <meta name="description" content="<%= description %>">
        <%- stylesheet_link_tag(
        	'vendor/normalize',
        	'http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css',
        	'application'
        ) %>
        <!--[if lte IE 8]>
        	<%- stylesheet_link_tag('http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css') %>
        <![endif]-->
        <!--[if lte IE 9]>
        	<%- stylesheet_link_tag('http://html5shiv.googlecode.com/svn/trunk/html5.js') %>
        <![endif]-->
        <%- csrf_meta_tag() %>
    </head>
    <body>
    	<header class="main_header clearfix">
	    	<h1 class="logo"><%- link_to('GW2 App', '/') %></h1>
	    	<nav class="main_nav">
		    	<ul>
			    	<li><%- link_to('New', '#new') %></li>
			    	<li><%- link_to('Share', '#share') %></li>
		    	</ul>
	    	</nav>
    	</header>
    	
    	<div class="main_content">
    		<%- body %>
    	</div>
    	
		<footer class="main_footer">
			<p>WvW Map to Guild Wars 2 · <%- link_to('Contact', 'mailto:undakel@gmail.com') %> · <%- link_to('Colaborate', 'https://github.com/davidsingal/gw2app', {target: "_blank"}) %></p>
		</footer>
		
		<%- javascript_include_tag(
			'http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js',
			'http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js',
			'vendor/wax.leaf',
			'vendor/cartodb-leaflet',
			'vendor/cartodb-popup',
			'application'
		) %>
    </body>
</html>